/* Google font */
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }

#clock {
  background-color: #bdb5b5;
  width:30%;
  align-content: center;
  height: 60px;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  color: #176932;
  font-size: 56px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}